USE [DataTest]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/23/2020 4:30:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [varchar](255) NULL,
	[ProductName] [varchar](255) NULL,
	[Price] [varchar](255) NULL,
	[Thumbnail] [varchar](255) NULL,
	[Link] [varchar](255) NULL
) ON [PRIMARY]
GO
